body{
  height: 100%;
  margin: 0;
  padding: 0;
  display:flex;
  background-color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color:white;
    font-size:13px;
    line-height: 20px;
  font-family: "DIN Alternate Bold"; 
  --color-edge: white;
  --thick-edge: 0.2px;
  --style-edge: solid;
}

#parameters div label{
  display: inline-block;
  line-height: 32px;
}

#parameters div input{
  width: 40%;
  float: right;
  margin-right:0;
  line-height: 32px;
  color: black;
  border: 1px solid white;
}


#parameters div select{
  width: 40%; 
  float: right;
  margin-right:0;
  line-height: 32px;
}
/* index.html age */
#parameters div label[for="861f9298-4971-43d5-ac34-d7745348ec41"]{
  position: absolute;
  top: 220px;
}
#parameters div input[id="861f9298-4971-43d5-ac34-d7745348ec41"]{
  position: absolute;
  top: 223px;
  left: 35%;
  width: 10%;
}
/* index2.html age */
#parameters div label[for="509d787b-73f4-4a81-9a66-4eda94016aa9"]{
  position: absolute;
  top: 220px;
}
#parameters div input[id="509d787b-73f4-4a81-9a66-4eda94016aa9"]{
  position: absolute;
  top: 223px;
  left: 35%;
  width: 10%;
}
/* index.html gender */
#parameters div label[for="723d106d-f72c-4720-8e2c-32a920a8d263"]{
  position: absolute;
  top: 245px;
}
#parameters div select[id="723d106d-f72c-4720-8e2c-32a920a8d263"]{
  position: absolute;
  left: 35%;
  top: 248px;
  width: 10%;
}
/* index2.html gender */
#parameters div label[for="7432d91c-1b8a-4ac8-96c2-4b6f2cb6ae84"]{
  position: absolute;
  top: 245px;
}
#parameters div select[id="7432d91c-1b8a-4ac8-96c2-4b6f2cb6ae84"]{
  position: absolute;
  left: 35%;
  top: 248px;
  width: 10%;
}
/* index.html people in household */
#parameters div label[for="7b132ff9-70ca-4ca3-a4d2-4d138f9fd03e"]{
  position: absolute;
  top: 270px;
}
#parameters div input[id="7b132ff9-70ca-4ca3-a4d2-4d138f9fd03e"]{
  position: absolute;
  left: 35%;
  top: 273px;
  width: 10%;
}
/* index.html generations in household */
#parameters div label[for="b37bcaa7-6123-4be7-8e13-4915ef5861ea"]{
  position: absolute;
  top: 295px;
}
#parameters div input[id="b37bcaa7-6123-4be7-8e13-4915ef5861ea"]{
  position: absolute;
  left: 35%;
  top: 298px;
  width: 10%;
}
/* index.html width of parcel */
#parameters div label[for="64dbcf14-1274-4184-be71-e778eec10ea8"]{
  position: absolute;
  top: 365px;
}
#parameters div input[id="64dbcf14-1274-4184-be71-e778eec10ea8"]{
  position: absolute;
  left: 35%;
  top: 368px;
  width: 10%;
}
/* index.html no of units in house */
#parameters div label[for="0ee94d8e-d941-4a35-a6b6-afc5a5e088e1"]{
  position: absolute;
  top: 390px;
}
#parameters div input[id="0ee94d8e-d941-4a35-a6b6-afc5a5e088e1"]{
  position: absolute;
  left: 35%;
  top: 393px;
  width: 10%;
}
/* index.html privacy level */
#parameters div label[for="8ccce374-90b6-4cf0-bc2d-e9bdfbd0c7db"]{
  position: absolute;
  top: 415px;
}
#parameters div input[id="8ccce374-90b6-4cf0-bc2d-e9bdfbd0c7db"]{
  position: absolute;
  left: 35%;
  top: 418px;
  width: 10%;
}
/* index2.html no. of balconies */
#parameters div label[for="0fb8fbc1-6490-42e8-99c5-d1a5bbc636b4"]{
  position: absolute;
  top: 415px;
}
#parameters div input[id="0fb8fbc1-6490-42e8-99c5-d1a5bbc636b4"]{
  position: absolute;
  left: 35%;
  top: 418px;
  width: 10%;
}
/* index2.html width of balcony */
#parameters div label[for="ed0536e2-e7d2-4136-8bd3-1b96a4c4ee84"]{
  position: absolute;
  top: 440px;
}
#parameters div input[id="ed0536e2-e7d2-4136-8bd3-1b96a4c4ee84"]{
  position: absolute;
  left: 35%;
  top: 443px;
  width: 10%;
}
/* index2.html window type */
#parameters div label[for="7167446f-ac76-422a-b307-37c9eb82cf58"]{
  position: absolute;
  top: 465px;
}
#parameters div input[id="7167446f-ac76-422a-b307-37c9eb82cf58"]{
  position: absolute;
  left: 35%;
  top: 468px;
  width: 10%;
}
/* index2.html no. of windows */
#parameters div label[for="87ac2e2e-81d0-42d3-8b98-8ddef3c7e8c4"]{
  margin-left: 10px;
  position: absolute;
  top: 480px;
}
#parameters div input[id="87ac2e2e-81d0-42d3-8b98-8ddef3c7e8c4"]{
  position: absolute;
  left: 35%;
  top: 483px;
  width: 10%;
}
/* index2.html size of windows */
#parameters div label[for="83ae9872-0ba5-4a8c-9df5-2fa2ac9dfa45"]{
  margin-left: 10px;
  position: absolute;
  top: 495px;
}
#parameters div input[id="83ae9872-0ba5-4a8c-9df5-2fa2ac9dfa45"]{
  position: absolute;
  left: 35%;
  top: 498px;
  width: 10%;
}
/* index2.html ornament */
#parameters div label[for="05656681-403e-4bf5-8d75-a1f1eb7e23f7"]{
  position: absolute;
  top: 520px;
}
#parameters div input[id="05656681-403e-4bf5-8d75-a1f1eb7e23f7"]{
  position: absolute;
  left: 35%;
  top: 523px;
  width: 10%;
}
/* index2.html no. of columns */
#parameters div label[for="e216e516-52e2-4d8f-8f8f-f2e5c0514dc5"]{
  margin-left: 10px;
  position: absolute;
  top: 535px;
}
#parameters div input[id="e216e516-52e2-4d8f-8f8f-f2e5c0514dc5"]{
  position: absolute;
  left: 35%;
  top: 538px;
  width: 10%;
}
/* index2.html size of columns */
#parameters div label[for="6c2ca1da-5644-43e5-b8c4-49329842355b"]{
  margin-left: 10px;
  position: absolute;
  top: 550px;
}
#parameters div input[id="6c2ca1da-5644-43e5-b8c4-49329842355b"]{
  position: absolute;
  left: 35%;
  top: 553px;
  width: 10%;
}
/* index2.html entrance type */
#parameters div label[for="cd1a7622-12bc-40d8-8eba-3fb8f75bae39"]{
  margin-left: 10px;
  position: absolute;
  top: 575px;
}
#parameters div select[id="cd1a7622-12bc-40d8-8eba-3fb8f75bae39"]{
  position: absolute;
  left: 35%;
  top: 578px;
  width: 10%;
}
/* index.html DONE! */
#parameters div input[id="b260a124296a78161895ba506cb75c89"]{
  position: absolute;
  left: 35%;
  top: 443px;
  width: 10%;
}
/* index2.html DONE! */
#parameters div input[id="bcbd94918ea44cdda2d1bf09185835cf"]{
  position: absolute;
  left: 35%;
  top: 600px;
  width: 10%;
}


.box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

h3{
  font-family: "DIN Alternate Bold"; 
}

#status{
  color:rgb(209, 209, 209);
  margin-bottom: 40px;
  opacity: 0;
}


.columns{
  float: left;
  padding:10px;
}
.lefts{
  width:60%;
}
.rights{
  width:40%;
}



#logo{
    width:200;
    height:auto;
}

#defaultCanvas0{
    border:transparent;
}


* {box-sizing: border-box;}

p{
  font-family: "DIN Alternate Bold"; 
  color:white;
}


*{
  font-family: "DIN Alternate Bold"; 
}

h2{
    color:white;
    font-family: "DIN Alternate Bold"; 
}


#status{
  color:rgb(209, 209, 209);
  margin-bottom: 10px;
}



.column{
    float:left;
    padding:10px;
}

.left{
    width:40%;
}
.middle{
    margin-top:320px;
    width:30%;
    
}
.right{
    margin-top:320px;
    width:30%;
}
.row{
    margin-top:150px;
    width:75%;
    content:"";
    display:table;
    clear:both;
}

@font-face {
  font-family: 'DIN Alternate Bold';
  font-style: normal;
  font-weight: normal;
  src: local('DIN Alternate Bold'), url('font/DINAlternate-Bold.woff') format('woff');
  }


@media (max-width: 700px) {
  .right,
  .middle,
  .left {
    width: 100%;
  }

}


img{
  height: 256px;
  width: 256px;
  box-shadow: none !important;
}

button{
  margin: 25px;
  padding: 10px 10px;
  border: 1px solid white;
  margin: 0px 10px 10px 10px;
  color:white;
  font-family: "DIN Alternate Bold";
  background: black;
  cursor: pointer;
}

#buttons{
  margin-top: 20px;
}

#app{
  margin: 0px 0px 10px 0px;
}


canvas{
  border: 1px solid rgb(224, 224, 224);
}

#output{
  border: 1px solid rgb(224, 224, 224);
  height: 256px;
  width: 256px;
}


.btn:hover{
  color: rgba(255,255,255,0.5);
  border-color: rgba(255,255,255,0.5)
  
}


.booth{
    width:256px;
    height: 256px;

}

.vl {
  border-left: 1px solid white;
  opacity: 0.3;
  height: 150px;
  position: absolute;
  left: 130px;
  top: 10px;
}

hr {
  position: relative;
  left: 0px;
  width: 50px;
  height: 2px;
  background-color: white;
}
