body{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Dosis', sans-serif;
  --color-edge: black;
  --thick-edge: 0.2px;
  --style-edge: solid;
}